* {
  margin: 0;
  padding: 0;
}
.card {
  width: 100%;
}
.card header {
  width: 100%;
  height: 140px;
  background-color: yellow;
}
.card-header1 {
  display: flex;
}
.card-header1 .header1__logo {
  width: 160px;
  height: 50px;
  margin-top: 32px;
  margin-left: 10px;
}
.card-header1 .header1__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-header1 .header1__search {
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  margin-top: 32px;
  overflow: hidden;
}
.card-header1 .header1__search input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}
.card-header1 .header1__search p {
  width: 50px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: 0.1s all linear;
  animation-name: rest;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rest {
  to {
    transform: scale(1.2);
  }
}
.card-header1 .header1__search p:hover img {
  transform: scale(1.1);
}
.card-header1 .header1__menu {
  margin-right: 10px;
  margin-top: 32px;
  cursor: pointer;
}
.card-header1 .header1__menu ul {
  list-style: none;
  display: flex;
}
.card-header1 .header1__menu ul li {
  margin-left: 30px;
  width: 172px;
  height: 50px;
  background-color: #e2c58c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}
.card-header1 .header1__menu ul li img {
  width: 20px;
  height: 20px;
}
.card-header1 .header1__menu ul li span {
  transition: 0.2s all linear;
}
.card-header1 .header1__menu ul li:not(:nth-child(1)):hover span {
  color: blue;
}
.card-header1 .header1__menu ul li:not(:nth-child(1)):hover img {
  transform: scale(1.1);
}
.card-header1 .header1__menu ul li pre span {
  transition: 0.2s all linear;
}
.card-header1 .header1__menu ul li:nth-child(1) pre span:hover {
  color: blue;
}
.card-header2 ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 22px;
}
.card-header2 ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.card-header2 ul li img {
  width: 20px;
  height: 20px;
}
.card-header2 ul li:nth-child(4) {
  position: relative;
}
.card-header2 ul li:nth-child(4) .header2__accessory {
  width: 720px;
  height: 420px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px;
  border-radius: 5px;
  visibility: hidden;
  transition: 0.1s all linear;
  border: 1px solid #eee;
}
.card-header2 ul li:nth-child(4):hover .header2__accessory {
  transition: 0.1s all linear;
  visibility: visible;
}
.card-header2 ul li:nth-child(4) .header2__accessory div ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-header2 ul li:nth-child(4) .header2__accessory div p {
  font-size: 12px;
  font-weight: 600;
}
.card-header2 ul li:nth-child(4) .header2__accessory div p::after {
  content: " ";
  display: block;
  height: 1px;
  width: 120px;
  background-color: rgb(108, 104, 104);
  margin-top: 10px;
}
.card-header2 ul li:nth-child(4) .header2__accessory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px 50px 100px);
  gap: 5px;
  padding-top: 20px;
  clip-path: polygon(
    0 10px,
    40px 10px,
    50px 0px,
    60px 10px,
    1440px 10px,
    1440px 1440px,
    0px 1440px
  );
  z-index: 999999999999999;
}
.card-header2 ul li:nth-child(4) .header2__accessory div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.card-header2 ul li:nth-child(4) .header2__accessory div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.card-header2 ul li:nth-child(4) .header2__accessory div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.card-header2 ul li:nth-child(4) .header2__accessory div:nth-child(4) {
  grid-column: 4/5;
  grid-row: 1/2;
}
.card-header2 ul li:nth-child(4) .header2__accessory div:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/4;
}
.card-header2 ul li:nth-child(4) .header2__accessory div ul li {
  overflow: hidden;
}
.card-header2 ul li:nth-child(4) .header2__accessory div ul li:hover {
  transform: scale(1.02);
  font-weight: 600;
}
#hidden-add::after {
  content: " ";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: 5px;
}
.header2__utility {
  width: 600px;
  height: 300px;
  background-color: white;
  border: 1px solid #eee;
  position: absolute;
  left: 35%;
  top: 22%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-top: 20px;
  clip-path: polygon(
    0px 10px,
    550px 10px,
    560px 0px,
    570px 10px,
    1440px 10px,
    1440px 1440px,
    0 1440px
  );
  visibility: hidden;
  z-index: 99999999999999;
}
.header2__utility div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header2__utility div p {
  font-weight: 600;
}
.header2__utility div p::after {
  content: " ";
  display: block;
  height: 1px;
  width: 190px;
  background-color: rgb(53, 51, 51);
  margin-top: 10px;
}
.header2__utility div ul li:hover {
  transform: scale(1.02);
  font-weight: 600;
}
.card-header2 ul li:nth-child(7) .header2__utility {
  transition: 0.1s all linear;
}
.card-header2 ul li:nth-child(7):hover .header2__utility {
  visibility: visible;
}
.card-header2 ul li:nth-child(4) .header2__accessory .header2__nha p::after {
  width: 165px;
}
.card-header2 ul li:nth-child(4) .header2__accessory .header2__grand p::after {
  width: 155px;
}
.card__page1 {
  width: 100%;
  height: 450px;
  background-color: #f3b1ec;
}
.card__fls {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  transform: translateY(2px);
  background-image: url(./img/Flash\ Sale.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card__menu1 {
  width: 100%;
  height: 400px;
  background-color: #d35cc7;
}
.card__menu1 ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card__menu1 ul li {
  width: 144px;
  height: 365px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.card__menu1 ul li div:nth-child(1) {
  width: 100%;
  height: 144px;
  transform: translateY(5px);
  border-radius: 5px;
  overflow: hidden;
  padding-top: 5px;
}
.card__menu1 ul li div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all linear;
}
.card__menu1 ul li:hover div:nth-child(1) img {
  transform: translateY(-5px);
}
.card__menu1 ul li div:nth-child(2) {
  width: 34px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: 249px;
  right: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c3840b;
  background-color: #fee7e7;
}
.card__menu1 ul li div:nth-child(3) {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__menu1 ul li div:nth-child(3) span {
  font-size: 12px;
}
.card__menu1 ul li div:nth-child(3) span:nth-child(2) {
  color: #c71818;
}
.card__menu1 ul li div:nth-child(3) span:nth-child(3) {
  text-decoration: line-through;
  color: #bfa5a5;
}
.card__menu1 ul li:hover div:nth-child(3) span:nth-child(1) {
  color: #288ad6;
}
.card__menu1 ul li div:nth-child(4) {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.card__menu1 ul li div:nth-child(4) span:nth-child(1) {
  color: #e57610;
}
.card__menu1 ul li div:nth-child(4) span {
  font-size: 14px;
}
.card__page2 {
  width: 100%;
  height: 450px;
  background-color: #f3b1ec;
}
.card__menu2 {
  width: 100%;
  height: 400px;
  background-color: #d35cc7;
}
.card__menu2 ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card__menu2 ul li {
  width: 144px;
  height: 365px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.card__menu2 ul li div:nth-child(1) {
  width: 100%;
  height: 144px;
  transform: translateY(5px);
  border-radius: 5px;
  overflow: hidden;
  padding-top: 5px;
}
.card__menu2 ul li div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all linear;
}
.card__menu2 ul li:hover div:nth-child(1) img {
  transform: translateY(-5px);
}
.card__menu2 ul li div:nth-child(2) {
  width: 34px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: 249px;
  right: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c3840b;
  background-color: #fee7e7;
}
.card__menu2 ul li div:nth-child(3) {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__menu2 ul li div:nth-child(3) span {
  font-size: 12px;
}
.card__menu2 ul li div:nth-child(3) span:nth-child(2) {
  color: #c71818;
}
.card__menu2 ul li div:nth-child(3) span:nth-child(3) {
  text-decoration: line-through;
  color: #bfa5a5;
}
.card__menu2 ul li:hover div:nth-child(3) span:nth-child(1) {
  color: #288ad6;
}
.card__menu2 ul li div:nth-child(4) {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.card__menu2 ul li div:nth-child(4) span:nth-child(1) {
  color: #e57610;
}
.card__menu2 ul li div:nth-child(4) span {
  font-size: 14px;
}
.card__contentfls {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  transform: translateY(2px);
  background-image: url(./img/Mua\ ngay\ -\ Gía\ rẻ\ -\ Qùa\ tặng\ nhiều\ -\ Ưu\ đãi\ hấp\ dẫn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card__page3 {
  width: 100%;
  height: 300px;
  background-color: #fee7e7;
  padding: 10px;
}
.card__page3 div {
  font-size: 30px;
  transform: translate(5px, 5px);
  animation: rest1 2s infinite;
  font-weight: 600;
}
@keyframes rest1 {
  50% {
    color: red;
  }
  100% {
    color: #288ad6;
  }
}
.card__page3 .page3__menu {
  margin-top: 10px;
}
.card__page3 .page3__menu ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.card__page3 .page3__menu ul li {
  width: 280px;
  height: 236px;
}
.card__page2 .card__menu2 ul li:nth-child(2) div:nth-child(3) {
  line-height: 20px;
}
.card__page2 .card__menu2 ul li:nth-child(4) div:nth-child(3) {
  line-height: 20px;
}
.card__page2 .card__menu2 ul li:nth-child(5) div:nth-child(3) {
  line-height: 11px;
}
.card__page2 .card__menu2 ul li {
  position: relative;
}
.card__page2 .card__menu2 ul li div:nth-child(4) {
  position: absolute;
  bottom: 60px;
}
.card__page4 {
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px 2px rgb(0, 0, 0, 0.5);
}
#page4__start {
  font-size: 30px;
  font-weight: 600;
  color: #c71818;
}
.card__page4 .page4__menu {
  margin-top: 20px;
}
.card__page4 .page4__menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.card__page4 .page4__menu ul li {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.card__page4 .page4__menu ul li div:nth-child(2) {
  margin-top: 10px;
  font-size: 21px;
}
.card__page4 .page4__menu ul li:hover div img {
  transform: scale(1.1);
}
.card__page4 .page4__menu ul li:hover div:nth-child(2) {
  color: #288ad6;
}
.disten {
  width: 100%;
  height: 40px;
  background-color: #f6f3f3;
}
.card__page5 {
  width: 100%;
  height: 200px;
  background-color: red;
  padding: 10px;
}
#page5__start {
  font-size: 30px;
}
.card__page5 .page5__menu {
  margin-top: 20px;
}
.card__page5 .page5__menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card__page5 .page5__menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
  gap: 10px;
}
.card__page5 .page5__menu ul li div:nth-child(2) {
  font-size: 20px;
}
.card__page5 .page5__menu ul li {
  background-color: #d9d9d9;
}
.card__page5 .page5__menu ul li:nth-child(1) {
  background-color: #ffae63;
}
